body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*font-family: Roboto-Light;*/
  /*font-weight: 200;*/
}

a {
  color: #00B7FF;
}

.post {
	margin-top:20px;

}